:root {
  --primary-color: #f77f00;
  --primary-hover-color: #FBAD5B;
  --secondary-color: #2A8B8F;
  --secondary-hover-color: #67C4C8;
  --header-color: #F1D0B0;
  --background-color: #FAF3E0;
}

body {
  background-color: var(--background-color);
}

.frame {
  width: 100%;
  height: 100%;
}

.header {
  background-color: var(--header-color);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  box-shadow: 2px 0 10px 5px rgba(0, 0, 0, 0.252);
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* Garante que o padding não quebre o layout */
}

.logo-image {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.left-content {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}

.search-bar {
  max-width: none;
  height: 30px;
  width: 90%;
  display: flex;
  align-content: center;
}

.search-bar-input {
  width: 50%;
  border-radius: 50px 0 0 50px;
  border: none;
  padding: 0 15px;
  font-size: 12px;
}

@media (max-width: 1400px) {
  .search-bar-input {
    width: 100%;
  }
}

.search-bar-input:focus {
  outline: 1px solid var(--primary-color);
}

.search-bar-btn {
  outline: 1px solid var(--primary-color);
  border-radius: 0 50px 50px 0;
  border: none;
  width: 25%;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

.search-bar-btn:hover {
  background-color: var(--primary-hover-color);
  outline: 1px solid var(--primary-hover-color);
}

.search-bar-btn:focus {
  background-color: var(--secondary-color);
  color: #fff;
}

.desktop-user-avatar {
  display: none;
  /* Oculto por padrão, ativado em media query */
}

@media (min-width: 768px) {
  .header {
    flex-wrap: nowrap;
    padding: 10px 20px;
    gap: 20px;
  }

  .left-content {
    width: auto;
    flex-grow: 1;
    gap: 20px;
  }

  .logo-image {
    width: 60px;
    height: 60px;
  }

  .search-bar {
    width: 100%;
    max-width: 600px;
    height: 42px;
  }

  .search-bar-input {
    padding: 0 20px;
    font-size: 14px;
  }

  .search-bar-btn {
    font-size: 14px;
    width: 150px;
    /* Largura fixa para "Procurar" */
  }
}

.image {
  width: 75.93px;
  height: 77.01px;
  aspect-ratio: 0.99;
}

.user {
  position: absolute;
  right: 15px;
  width: 87px;
  height: 87px;
}

.main-content {
  width: 100%;
  padding: 40px 160px;
  box-sizing: border-box;
  display: flex;
}

@media (max-width: 1350px) {
  .main-content {
    padding: 40px;
  }
}

.recipe-article {
  width: 60%;
  padding-right: 30px;
}

.recipe-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-description {
  margin-top: 20px;
  text-align: justify;
}

.recipe-sidebar {
  border-left: 1px solid #f7800088;
  width: 40%;
  padding-left: 30px;
}

@media (max-width: 700px) {
  .main-content {
    flex-direction: column;
  }

  .recipe-article {
    width: 100%;
    padding-right: 0;
  }

  .recipe-sidebar {
    border: none;
    width: 100%;
    padding-left: 0;
  }
}

.text-wrapper-2 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-wrapper-3 {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 20px;
}

.rectangle {
  width: 100%;
  height: 392px;
  background-color: #f1d0b0;
}

.p,
.lorem-ipsum-dolor {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
}

.ingredients-section {
  margin-top: 25px;
  margin-bottom: 100px;
}

.preparation-section {
  margin-bottom: 20px;
  text-align: justify;
}

.text-wrapper,
.div {
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
}

.lorem-lorem-lorem {
  font-family: "Poppins-SemiBold", Helvetica;
  color: #000000;
  font-size: 16px;
  line-height: 1.6;
  padding-left: 20px;
}

li::marker {
  color: var(--secondary-color);
}

.title {
  color: var(--primary-color);
  font-size: 30px;
}

.centered {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.star {
  width: 20px;
  height: 20px;
}

.star path {
  fill: var(--secondary-color);
  fill: var(--secondary-color);
}

.user-avatar {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: transparent;
  outline: none;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .user-avatar {
    position: inherit;
    /* Remove o 'fixed' no desktop */
    width: 60px;
    height: 60px;
  }
}

.user-avatar {
  background-color: transparent;
  border: none;
  padding: 0;
}

.user-avatar svg {
  width: 100%;
  height: 100%;
  size: 100%;
  fill: var(--secondary-color);
}

.user-avatar svg:hover {
  fill: var(--secondary-hover-color);
}

@media (min-width: 1024px) {
  .logo-image {
    width: 75px;
    height: 75px;
  }

  .search-bar {
    max-width: 60%;
  }

  .search-bar-btn {
    width: 25%;
    /* Retorna ao percentual no desktop maior */
  }

  .desktop-user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    /* width: 50px;
      height: 50px; */
    border-radius: 50%;
  }
}
