body{
  width: 100%;
  height: 100%;
  background-image: url('img/backgroundimg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.frame {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 10px;
}
.frame .text-wrapper {
  width: 776px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #f77f00;
  font-size: 128px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .uma-pitada-de-sabor {
  width: 577px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #2A8B8F;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 46px;
}

.frame .IR-PRA-HOME {
  display: flex;
  width: 402px;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 35px;
  background-color: #e63946;
  border-radius: 30px;
  transform: rotate(0.42deg);
  box-shadow: 0px 4px 4px #00000040;
  aspect-ratio: 5.74;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.frame .IR-PRA-HOME:hover {
  background-color: #d62839;
  transform: rotate(0.42deg) scale(1.02);
}

.frame .IR-PRA-HOME:active {
  transform: rotate(0.42deg) scale(0.98);
}

.frame .IR-PRA-HOME:focus {
  outline: 3px solid #ffffff;
  outline-offset: 3px;
}

.frame .div {
  position: relative;
  width: fit-content;
  margin-left: -24.50px;
  margin-right: -24.50px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #faf3e0;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}
